<div id="header" class="container-fluid dark bluebg">
	<div class="row">
		<div class="col-sm-6">
			<%= link_to image_tag("logo2.png", class: "logo2", alt: "Logo of Trevor AI"), root_path %>
		</div>
		<div class="col-sm-6  hidden-xs">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Web", web_path %></li>
				<li><%= link_to "Bot", bot_path %></li>
				<li class="active"><%= link_to "App", app_path %></li>
				<li><%= link_to "FI", fi_path %></li>
			</ul>
		</div>
	</div>
</div>

<div id="meettrevor" class="container-fluid section dark bluebg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Trevor AI on iOS</h1>
				<h3>The first calendar that helps you get your tasks done.</h3>
				
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>



<div id="demo" class="container-fluid">

	<div class="row">

		<div class="col-md-4 hidden-sm hidden-xs schedule animated fadeInLeft">
			<div align="right">
				<h1>This is your <span class="dark-blue">schedule</span></h1>
				<p>It syncs with your calendars</p>
			</div>

		</div>
		<div class="col-md-4 hidden-sm hidden-xs">
			<div class="mockup animated fadeInUp">
				<div class="placeholder">
					<%= image_tag("iPhoneMockup.png", class: "iPhoneMockup", alt: "iPhone Mockup") %>
					<%= image_tag("arrowRight.png", class: "arrowRight", alt: "Arrow pointing right") %>
					<%= image_tag("arrowLeft.png", class: "arrowLeft", alt: "Arrow pointing left") %>
				</div>
				<div class="demoVideo">
					<iframe width="326" height="580" src="https://www.youtube.com/embed/qNmhEgBqUY8?vq=hd720&autoplay=1&controls=0&showinfo=0&loop=1&playlist=qNmhEgBqUY8" frameborder="0" autohide="1"></iframe>
				</div>

				<!-- <h3 class="text-center">Tasks and time smarter, together</h3> -->
				
			</div>
			<%= link_to (image_tag("appStore.svg", class: "appStoreButton center-block", alt: "Download from the App Store")), "https://itunes.apple.com/app/trevor-ai-time-management/id1113523247", target: "_blank" %>
		</div>

		<div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
			<div class="mockup animated fadeInUp">
				<div class="placeholder">
					<%= image_tag("iPhoneMockup.png", class: "iPhoneMockup ", alt: "iPhone Mockup") %>
				</div>
				<div class="demoVideo">
					<iframe width="224" height="399" src="https://www.youtube.com/embed/qNmhEgBqUY8?vq=hd720&controls=0&showinfo=0&loop=1&playlist=qNmhEgBqUY8" frameborder="0" autohide="1"></iframe>
				</div>
				<% if false %>
				<h3 class="text-center">Tasks and time smarter, together</h3>
				
				<%= link_to (image_tag("appStore.svg", class: "appStoreButton center-block", alt: "Download from the App Store")), "https://itunes.apple.com/app/trevor-ai-time-management/id1113523247", target: "_blank" %>
				<% end %>
			</div>
			
		</div>

		<div class="col-md-4 hidden-sm hidden-xs todo animated fadeInRight">
			
			
			<h1>Those are your <span class="dark-blue">tasks</span></h1>
			<p>They sync with your todo lists</p>
			
		</div>

	</div>

</div>


<div id="core-features" class="container-fluid">
		<div class="row background-image intuitive">
			<div>
				<h1 class="dark-blue">Schedule everything you do</h1>
				<p>Trevor syncs with amazing apps, so you can schedule everything you do, in one intuitive interface. Import your tasks from iOS Reminders and Todoist, and schedule them in iCloud, Google or Outlook calendars.</p>
			</div>
		</div>
		<div class="row background-image intelligent">
			<div>
				<h1 class="dark-blue">Plan a meaningful day</h1>
				<p>Scheduling your tasks into your calendar gives the "When" to your "Whats". It's an easy way of keeping your todo lists empty and your goals within reach.</p>
			</div>
		</div>
		<div class="row background-image connected">
			<div>
				<h1 class="dark-blue">Learn more about yourself</h1>
				<p>Trevor's purpose is to help you grow. Even the little things we do each day have a big impact on our lives. With Trevor you can gain powerful insights on how you spend your most valuable resource - time.</p>
			</div>
		</div>
</div>

<div id="features-pricing" class="container-fluid">
	<div class="container">
		<div class="row">
			<h1>Features</h1>
			<p>Out of the box, for free</p>
			<div class="col-md-4 feature">
				<h2>Sync Calendar Events</h2>
				<p>Sync with iCloud, Google, Outlook, and more</p>
			</div>
			<div class="col-md-4 feature">
				<h2>Sync your Tasks</h2>
				<p>Sync with iOS Reminders and Todoist, with more, coming soon</p>
			</div>
			<div class="col-md-4 feature">
				<h2>One Smart Inbox</h2>
				<p>All of your tasks from your favourite apps in one place</p>
			</div>

			<div class="col-md-4 feature">
				<h2>Schedule with Drag & Drop</h2>
				<p>Schedule any task right into your calendar with just a swipe</p>
			</div>

			<div class="col-md-4 feature">
				<h2>Natural Language</h2>
				<p>Trevor understands things like "Meeting tomorrow at 2pm"</p>
			</div>

			<div class="col-md-4 feature">
				<h2>Track Time & Progress</h2>
				<p>Complete tasks scheduled in your calendar to track both time and progress</p>
			</div>

			<% if false %>

			<h1>Premium Features</h1>
			<p>For those serious about personal growth, we've got something special.</p>

			<div class="col-md-4 feature">
				<h2>Your own assistant</h2>
				<p>Personalize Trevor to you, as you would your own A.I. personal assistant.</p>
			</div>
			<div class="col-md-4 feature">
				<h2>Unlimited integrations</h2>
				<p>Integrate with apps without boundaries. Schedule anything and everything.</p>
			</div>
			<div class="col-md-4 feature">
				<h2>Advanced Personal Analytics</h2>
				<p>Powerful data mining and neuro-linguistic programming algorithms helping you learn even more about yourself.</p>
			</div>
			
			<h2>Premium membership costs just $4.99/mo.</h2>
			<p>Hacking your personal growth is priceless, yet we ask for no higher than a cup of coffee.</p>

			<% end %>

		</div>
	</div>

</div>


<div class="container-fluid dark bluebg section">
	<div class="row">
		<h2 class="text-center">Learn what makes scheduling so powerful...</h2>

	</div>
</div>


<div id="framework" class="container-fluid">
	<div class="row text-center">
		
		<div class="col-md-12">

			<h1 class="animated fadeInUp">Stuff to do?</h1>
			<p class="dark-blue animated fadeInUp" style="font-size:1.5em;">Let's say your friend Max has a birthday<span class="hidden-sm hidden-xs">, you can either...</span></p>
			<%= image_tag('path_main.png', class: 'path_main animated fadeIn hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>

		</div>

		<div class="col-md-4">
			<h2>Save it as a card</h2>
			<%= image_tag("card_birthday.png", style: "width: 350px;") %>
			<ul class="benefitList">
				<li class="positive">It will never get lost</li>
				<li class="positive">A peaceful, productive mind</li>
				<li class="negative">Takes 20 seconds of your life<br/><span class="light-gray">(to save you many more)</span></li>
				<li class="quote">"Your mind is for having ideas, not holding them"<br/><%= link_to "- David Allen", "http://gettingthingsdone.com", target: "_blank" %></li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">30%</span> probability for success</p>
		</div>



		<div class="col-md-4 hidden-sm hidden-xs">
			<!-- seperator -->
		</div>

		<div class="col-md-4 hidden-sm hidden-xs">
			<h2>Remember it</h2>
			<%= image_tag("paperplane.png", style: "width: 100px; margin: 20px") %>
			<ul class="benefitList">
				<li class="negative">Very, very high chance of forgetting<br/><span class="light-gray">(Max will be sad)</span></li>
				<li class="negative">Reduces focus and causes anxiety</li>
				<li class="positive">Faster</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">10%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_left_right.png', class: 'path_left_right hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2>Organize your cards</h2>
		</div>

		<div class="col-md-4">
			<ul class="benefitList" style="padding-top: 95px;">
				<!-- <li class="positive">Fast and easy:<br/>“I <u>must</u> <i>buy a gift for Matt</i> <u>by thursday</u>”</li> -->
				<li class="positive">"Organization makes a system of many appear fewer" <%= link_to "- The Laws of Simplicity", "http://lawsofsimplicity.com", target: "_blank" %></li>
				<li class="positive">Helps you focus on the right cards</li>
				<li class="negative">Too much planning or doing can kill productivity</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">40%</span> probability for success</p>
		</div>

		<div class="col-md-4">
			<%= image_tag("card_list.png", style: "width: 350px; margin: 20px 0;") %>
		</div>

		<div class="col-md-4 text-left" style="padding-top: 100px;">
			<p class="light-gray">"It's not about how to get more things done,<br/>it’s about how to get <u>the right things</u> done."<br/>
					<%= link_to "Essentialism: The Disciplined Pursuit of Less by Greg McKeown", "http://gregmckeown.com/book/", target: "_blank" %></p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_right_left.png', class: 'path_right_left hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2 class="text-left">Add Cards to your Schedule</h2>
		</div>

		<div class="col-md-8">
			<%= image_tag("add_to_schedule.png", class: 'add_to_schedule') %>
		</div>

		<div class="col-md-4">
			<ul class="benefitList">
				<li class="positive">Add the "When" to your "What"</li>
				<li class="positive">Turn Cards into a solid plan for action</li>
				<li class="positive">You can always reschedule in seconds</li>
				<li class="quote">"If you talk about it, it’s a dream, if you envision it, it’s possible, but if you schedule it, it’s real."<br/>
					<%= link_to "- Anthony Robbins", "https://www.tonyrobbins.com", target: "_blank" %></li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">60%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_right_left.png', class: 'path_right_left hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2 class="text-left">Focus on the current Card</h2>
		</div>

		<div class="col-md-8">
			<%= image_tag("focus.png", class: 'focus') %>
		</div>

		<div class="col-md-4">
			<ul class="benefitList">
				<li class="positive">A Card scheduled in time helps you focus</li>
				<li class="positive">You get notified when it's time for action</li>
				<li class="positive">Your energy on the right task, at the right time</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">90%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_left_right.png', class: 'path_left_right hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2>Success</h2>
			<%= image_tag("card_birthday_complete.png", style: "width: 350px;") %>
			<h4>Learn from it, grow from it, repeat it, make people happy</h4>
			<br/>
			<hr/>
			<h2>Here's a card for you :)</h2>
			<br/>
			
				<div id="card_share" class="center-block">
					<div id="card_share_inner" class="card_share">
						Share this guide with friends
					</div>
				</div>
			
			<br/>
			<div onclick="completedState()" class="addthis_sharing_toolbox"></div>
			<!-- <div class="addthis_horizontal_follow_toolbox center-block hidden-sm hidden-xs"></div> -->
			<br/>
			<%= image_tag('gift_matt.png', class: "matt hidden-xs hidden-sm") %>
		</div>





	</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-1', 'auto');
  ga('send', 'pageview');

</script>





