<div id="intro" class="intro-short container-fluid section section-top dark bluebg">
	<div class="row">

		<%= image_tag("logo.png", class: "logo", alt: "Logo of Trevor AI") %>
		<h4 class="animated fadeInUp" style="color:rgba(255,255,255,0.5);">Making productivity simple again<br/>with human-centric design and a robot friend called Trevor</h4>

	</div>
	
</div>



<div id="framework" class="fi-framework container-fluid">
	<div class="row text-center">
		
		<div class="col-md-12">

			<h1 class="animated fadeInUp">Just joined the Founder Institute?</h1><br/>
			<%= image_tag("profileFI.jpg", style: "width: 150px;") %><br/>
			<h2>This is the ultimate-minimalistic-get-!@#$-done-framework<br/> that will get your arse to graduation and your startup to the moon</h2><br/>
			<p class="text-left intro"><strong>The Founder Institute curriculum can be brutal</strong>, but so is real life. You need to be at your A-game and be on top everything you have to do. Less than 10% of applicants get to graduate, and 2/3 of the enrolled founders (like you) will fail the curriculum. One of the most common excuse for dropouts is "lack of time". Not only that, but even a single missed deadline for an assignment will get you into the "Bonus Assignment Train" designed to make you want to drop out. This guide will help you be among the top performers. In the end, every single assignment you do, you do for your startup... so let's get started!</p>
			<%= image_tag('path_straight.png', class: 'path_straight') %>

		</div>

		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>About the curriculum</h2>
				<ul class="benefitList stats">
					<li class="positive">3.5 Months or 14 Weeks</li>
					<li class="positive">8-15 assignments per weeek</li>
					<li class="positive">2 hours average assignment duration</li>
					<li class="positive">16-30 hours of work/week</li>
					<li class="positive">More than 300 hours of work total</li>
				</ul>
				<p class="intro">Focus and peace of mind is crucial here, else you burnout and fail. This guide will help you plan, execute and track each of those hours.</p>
				<%= image_tag('path_straight.png', class: 'path_straight') %>
			</div>
			<div class="col-md-3"></div>
			
		</div>

		<div class="col-md-12">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>About me</h2>
				<p class="text-left intro">[picture] My name is George, I graduated early 2016 from Europe. Some of you may have met me at FounderX this October. I am obsessed with productivity, personal growth and artificially intelligent assistants. <br/><br/> This guide is based on some brilliant books, such as <a href="#">Essentialism</a>, <a href="#">Simplicity</a>, <a href="#">Time Management that doesn't suck</a>, <a href="#">The Lean Startup</a> and a couple others. It has also been approved by my personal NLP (Neuro-linguistic programming) coach and productivity advisor - Daniela Koleva, PhD.</p>
				<%= image_tag('path_straight.png', class: 'path_straight') %>
			</div>
			<div class="col-md-3"></div>
		</div>


		<div class="col-md-12">
			<h1>Setup</h1>
			<p class="dark-blue subtitle">Your 3 essential weapons</p>
			<%= image_tag('path_main.png', class: 'path_main animated fadeIn hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>

			<div class="col-md-4">
				<h2>The Task List</h2>
				<%= image_tag("TaskList.png", class: "weapons") %>
				<p>This is where you save and track progress of your assignments</p>
				<%= image_tag('path_straight.png', class: 'path_straight') %>
				<h4>Recommended:</h4>
				<p>Others</p>
			</div>

			<div class="col-md-4">
				<h2>The Calendar</h2>
				<%= image_tag("Calendar.png", class: "weapons") %>
				<p>This is where you assign the time for action for your assignments</p>
				<%= image_tag('path_straight.png', class: 'path_straight') %>
				<h4>Recommended:</h4>
				<p>Others</p>
			</div>

			<div class="col-md-4">
				<h2>The Notepad</h2>
				<%= image_tag("Notepad.png", class: "weapons") %>
				<p>This is where you work or record the work from your assignments, before you send it to the Founder Institute</p>
				<%= image_tag('path_straight.png', class: 'path_straight') %>
				<h4>Recommended:</h4>
				<p>Others</p>
			</div>

		</div>



		<div class="col-md-12">
			<%= image_tag('path_main.png', class: 'path_main flip-img hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight visible-sm visible-xs') %>

			<h1>Process</h1>
			<%= image_tag('path_straight.png', class: 'path_straight') %>
		</div>

		<div class="col-md-12">

			<div class="col-md-4">
				<h2>Save Task</h2>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h2>Schedule Task</h2>
			</div>

		</div>

		<div class="col-md-12">
			<div class="col-md-4">
				<h2>Complete > Next</h2>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				
				<h2>Do the assignment</h2>
			</div>
		</div>

		<div class="col-md-12">
			<h2>Submit to FI</h2>
		</div>

		<div class="col-md-12">


			<h1>Startup Life</h1>
			<%= image_tag('path_straight.png', class: 'path_straight') %>

		</div>

		<div class="col-md-4">
			<h2>Save it as a card</h2>
			<%= image_tag("card_birthday.png", style: "width: 350px;") %>
			<ul class="benefitList">
				<li class="positive">It will never get lost</li>
				<li class="positive">A peaceful, productive mind</li>
				<li class="negative">Takes 20 seconds of your life<br/><span class="light-gray">(to save you many more)</span></li>
				<li class="quote">"Your mind is for having ideas, not holding them"<br/><%= link_to "- David Allen", "http://gettingthingsdone.com", target: "_blank" %></li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">30%</span> probability for success</p>
		</div>



		<div class="col-md-4 hidden-sm hidden-xs">
			<!-- seperator -->
		</div>

		<div class="col-md-4 hidden-sm hidden-xs">
			<h2>Remember it</h2>
			<%= image_tag("paperplane.png", style: "width: 100px; margin: 20px") %>
			<ul class="benefitList">
				<li class="negative">Very, very high chance of forgetting<br/><span class="light-gray">(Matt will be sad)</span></li>
				<li class="negative">Reduces focus and causes anxiety</li>
				<li class="positive">Faster</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">10%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_left_right.png', class: 'path_left_right hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2>Organize your cards</h2>
		</div>

		<div class="col-md-4">
			<ul class="benefitList" style="padding-top: 95px;">
				<!-- <li class="positive">Fast and easy:<br/>“I <u>must</u> <i>buy a gift for Matt</i> <u>by thursday</u>”</li> -->
				<li class="positive">"Organization makes a system of many appear fewer" <%= link_to "- The Laws of Simplicity", "http://lawsofsimplicity.com", target: "_blank" %></li>
				<li class="positive">Helps you focus on the right cards</li>
				<li class="negative">Too much planning or doing can kill productivity</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">40%</span> probability for success</p>
		</div>

		<div class="col-md-4">
			<%= image_tag("card_list.png", style: "width: 350px; margin: 20px 0;") %>
		</div>

		<div class="col-md-4 text-left" style="padding-top: 100px;">
			<p class="light-gray">"It's not about how to get more things done,<br/>it’s about how to get <u>the right things</u> done."<br/>
					<%= link_to "Essentialism: The Disciplined Pursuit of Less by Greg McKeown", "http://gregmckeown.com/book/", target: "_blank" %></p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_right_left.png', class: 'path_right_left hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2 class="text-left">Add Cards to your Schedule</h2>
		</div>

		<div class="col-md-8">
			<%= image_tag("add_to_schedule.png", class: 'add_to_schedule') %>
		</div>

		<div class="col-md-4">
			<ul class="benefitList">
				<li class="positive">Add the "When" to your "What"</li>
				<li class="positive">Turn Cards into a solid plan for action</li>
				<li class="positive">You can always reschedule in seconds</li>
				<li class="quote">"If you talk about it, it’s a dream, if you envision it, it’s possible, but if you schedule it, it’s real."<br/>
					<%= link_to "- Anthony Robbins", "https://www.tonyrobbins.com", target: "_blank" %></li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">60%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_right_left.png', class: 'path_right_left hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2 class="text-left">Focus on the current Card</h2>
		</div>

		<div class="col-md-8">
			<%= image_tag("focus.png", class: 'focus') %>
		</div>

		<div class="col-md-4">
			<ul class="benefitList">
				<li class="positive">A Card scheduled in time helps you focus</li>
				<li class="positive">You get notified when it's time for action</li>
				<li class="positive">Your energy on the right task, at the right time</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">90%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_left_right.png', class: 'path_left_right hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<h2>Success</h2>
			<%= image_tag("card_birthday_complete.png", style: "width: 350px;") %>
			<h4>Learn from it, grow from it, repeat it, make people happy</h4>
			<br/>
			<hr/>
			<h2>Here's a card for you :)</h2>
			<br/>
			
				<div id="card_share" class="center-block">
					<div id="card_share_inner" class="card_share">
						Share this guide with friends
					</div>
				</div>
			
			<br/>
			<div onclick="completedState()" class="addthis_sharing_toolbox"></div>
			<div class="addthis_horizontal_follow_toolbox center-block hidden-sm hidden-xs"></div>
			<%= image_tag('gift_matt.png', class: "matt") %>
		</div>





	</div>
</div>