<div id="header" class="container-fluid dark bluebg">
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag("logo2.png", class: "logo2", alt: "Logo of Trevor AI") %>
		</div>
		<div class="col-sm-6">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><%= link_to "Trevor AI", root_path %></li>
				<li><%= link_to "Web", web_path %></li>
				<li><%= link_to "App", app_path %></li>
			</ul>
		</div>
	</div>
</div>

<div id="intro-bot" class="container">
	<div class="row">
		<h1 class="text-center">Find time for everything you want to do,<br/><underline>in a natural way</underline></h1>
		<div class="chatbox">
			<div class="row">
				<div class="bubble bubble-self pull-right">
					<p><strong>Trevor,</strong> I have to buy groceries</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-trevor">
					<p>Here are the best available times...</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-actions">
					<ul>
						<li>After work</li>
						<li>Tomorrow morning</li>
						<li>Wednesday at 3 pm</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="margin"/>
		<div class="col-md-3 availability vertical-align">
			<p class="text-right"><strong>Will be</strong> available on:</p>
		</div>
		<div class="col-md-6 availability vertical-align center-block">
			<%= image_tag('html_icon.png') %>
			<%= image_tag('messenger_icon.png') %>
			<%= image_tag('slack_icon.png') %>
		</div>
		<div class="col-md-3 availability vertical-align">
			<p>In January-ish..probably<br/>
				<span class="faded">with Telegram, Kik, Cortana, Alexa, and more, right after that.</span></p>
		</div>
	</div>
</div>


<div id="meettrevor" class="container-fluid section dark bluebg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-left">Trevor is a personal assistant<br/><span class="faded">that connects your task lists with your calendar,</span><br/>to help you manage your time,<br/><span class="faded">the same way you already do in your mind.</span></h3>
			</div>
			<div class="col-md-6"></div>
			<div id="" class="download col-md-4">
			<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="//linkedin.us12.list-manage.com/subscribe/post?u=5418fe1e541a0e43db9c54656&amp;id=e1e62066d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" onclick="mixpanel.track('Email Field 1 Clicked');">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5418fe1e541a0e43db9c54656_e1e62066d1" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Get Early Access" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="mixpanel.track('Email Field 1 Submitted');"></div>
				    </div>
				</form>
				</div>
				
			<!--End mc_embed_signup-->
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>


<div id="framework" class="container-fluid">
	<div class="row text-center">
		
		<div class="col-md-12">

			<h1 class="animated fadeInUp">How does it work?</h1>
			<p class="dark-blue animated fadeInUp" style="font-size:1.5em;">Trevor integrates your Task Lists and your Calendars, to help you <u>find time for your tasks</u></p>
			<%= image_tag('path_main.png', class: 'path_main animated fadeIn hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>

		</div>

		<div class="col-md-4">
			<h2>Task List</h2>
			<%= image_tag("card_birthday.png", style: "width: 350px;") %>
			<ul class="benefitList">
				<li class="positive">It will never get lost</li>
				<li class="positive">A peaceful, productive mind</li>
				<li class="negative">Takes 20 seconds of your life<br/><span class="light-gray">(to save you many more)</span></li>
				<li class="quote">"Your mind is for having ideas, not holding them"<br/><%= link_to "- David Allen", "http://gettingthingsdone.com", target: "_blank" %></li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">30%</span> probability for success</p>
		</div>



		<div class="col-md-4 hidden-sm hidden-xs">
			<!-- seperator -->
		</div>

		<div class="col-md-4 hidden-sm hidden-xs">
			<h2>Calendar</h2>
			<%= image_tag("paperplane.png", style: "width: 100px; margin: 20px") %>
			<ul class="benefitList">
				<li class="negative">Very, very high chance of forgetting<br/><span class="light-gray">(Matt will be sad)</span></li>
				<li class="negative">Reduces focus and causes anxiety</li>
				<li class="positive">Faster</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">10%</span> probability for success</p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_left_right.png', class: 'path_left_right hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<p class="dark-blue" style="font-size:1.5em;">Trevor then seperates your days into natural, meaningful sections,<br/>to help you manage time without even thinking about time:<br/><span class="faded">Morning, Afternoon, Evening, Work, After work, Weekend, etc.</span></p>
		</div>

		<div class="col-md-4">
			<ul class="benefitList" style="padding-top: 95px;">
				<!-- <li class="positive">Fast and easy:<br/>“I <u>must</u> <i>buy a gift for Matt</i> <u>by thursday</u>”</li> -->
				<li class="positive">"Organization makes a system of many appear fewer" <%= link_to "- The Laws of Simplicity", "http://lawsofsimplicity.com", target: "_blank" %></li>
				<li class="positive">Helps you focus on the right cards</li>
				<li class="negative">Too much planning or doing can kill productivity</li>
			</ul>
			<hr class="small"/>
			<p class="probability"><span class="zen-green">40%</span> probability for success</p>
		</div>

		<div class="col-md-4">
			<%= image_tag("card_list.png", style: "width: 350px; margin: 20px 0;") %>
		</div>

		<div class="col-md-4 text-left" style="padding-top: 100px;">
			<p class="light-gray">"It's not about how to get more things done,<br/>it’s about how to get <u>the right things</u> done."<br/>
					<%= link_to "Essentialism: The Disciplined Pursuit of Less by Greg McKeown", "http://gregmckeown.com/book/", target: "_blank" %></p>
		</div>

		<div class="col-md-12">
			<%= image_tag('path_right_left.png', class: 'path_right_left hidden-sm hidden-xs') %>
			<%= image_tag('path_straight.png', class: 'path_straight animated fadeIn visible-sm visible-xs') %>
			<p class="dark-blue" style="font-size:1.5em;">Finally, all you have to do, is tell him what you need to do,<br/>as if you are speaking to an assistant</p>
		</div>


	</div>
</div>

<div class="container">
	<div class="row">
		<div class="chatbox chatbox-wide">
			<div class="row">
				<div class="bubble bubble-self pull-right">
					<p>Marketing Assignment</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-trevor">
					<p>"Marketing Assignment" added to your Inbox.<br/>When would you like to schedule it?</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-actions">
					<ul>
						<li>Today</li>
						<li>This week</li>
						<li>Next week</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="bubble bubble-self pull-right">
					<p>This week</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-trevor">
					<p>Best available times this week...</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-actions">
					<ul>
						<li>Tomorrow at work</li>
						<li>Friday at work</li>
						<li>Weekend</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="bubble bubble-self pull-right">
					<p>Tomorrow at work</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-trevor">
					<p>Great, it's scheduled. I'll notify you when it's time.</p>
				</div>
			</div>
			<div class="row">
				<div class="bubble bubble-actions">
					<ul>
						<li class="card">Marketing Assignment<br/><span class="faded">10 am, tomorrow</span></li>
						<li>View in Calendar</li>
						<li>Undo</li>
					</ul>
				</div>
			</div>

		</div>

		<hr class="margin"/>

		<div class="row bottom-nav vertical-align center-block">
			<%= link_to "Back to Top", root_path %>
			<%= link_to "Trevor on Web", web_path %>
			<%= link_to "Trevor on iOS", app_path %>
		</div>

	</div>
</div>



<div id="meettrevor" class="container-fluid section dark bluebg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>That's all there is really, just tell Trevor and he will help you find the time...</h3>
			</div>
			<div class="col-md-4"></div>
			<div id="" class="download col-md-4">
			<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="//linkedin.us12.list-manage.com/subscribe/post?u=5418fe1e541a0e43db9c54656&amp;id=e1e62066d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" onclick="mixpanel.track('Email Field 1 Clicked');">
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5418fe1e541a0e43db9c54656_e1e62066d1" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Take control of your time" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="mixpanel.track('Email Field 1 Submitted');"></div>
				    </div>
				</form>
				</div>
				
			<!--End mc_embed_signup-->
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-1', 'auto');
  ga('send', 'pageview');

</script>





