<div id="intro" class="container-fluid section section-top background-image hidden-xs dark">
	<div id="logo-header">
			<%= image_tag("app-icon.png", class: "app-icon") %>
		<div class="app-title-box">
			<h2 class="app-title">T R E V O R</h2>
			<p class="app-subtitle">your personal TimeKeeper</p>
		</div>
	</div>
	
	<div class="row hidden-xs" >
		<div class="col-xs-7">
		</div>
		<div class="col-xs-5">
			<% if false %>
			<h1>Take control of your day,<br/>to get control of your life.</h1>
			<% end %>
			<h1>The smartest way<br/>to schedule your day</h1>
			
		</div>
	</div>
	
</div>


<div id="meettrevor" class="container-fluid section background-image dark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag("app-icon.png", class: "app-icon visible-xs center-block") %>
				<h2>Meet Trevor</h2>
				<% if false %>
				<h3 class="emphasize-color">A powerful time management assistant</h3>
				<h3>Designed to help you make time for the things that matter.</h3>
				<% end %>
				<h3 class="emphasize-color">A calendar with character</h3>
			</div>
		</div>
	</div>
</div>

<div id="valueProposition" class="container-fluid section background-image">
	<div class="container">
		<div class="row">
			<% if false %>
			<div class="col-sm-6">
				<%= image_tag("calendar.png", class: "feature-image center-block") %>
			</div>
			<div class="col-sm-6">
				<br/>
				<br/>
				<h1>Trevor is a personal assistant disguised as a <span class="emphasize-color">calendar</span> app.</h1>
				<br/>
				<h2 class="gray">A calendar that listens, learns and adapts to you, helping you organize everything you do.</h2>
				<br />
				<% if false %>
				<p class="">Trevor serves as a <span class="dark-red">calendar</span>, <span class="dark-red">todo list</span> and <span class="dark-red">habit tracker</span> at the same time. You can add your todos directly to your schedule among your other calendar events and recurring tasks. Doing so lets you plan your day in seconds.</p>
				<p>You can easily <span class="dark-red">sync</span> your calendars, reminders and your favourite todo apps.</p>
				<p>The more you use Trevor the better he becomes with organizing your todos, as well as <span class="dark-red">automatically</span> scheduling and rescheduling your tasks for you.</p>
				
				<p style="padding-top: 100px;">Trevor serves as a <span class="dark-red">calendar</span>, <span class="dark-red">todo list</span> and <span class="dark-red">habit tracker</span> at the same time. You can easily <span class="dark-red">sync</span> your calendars, reminders and your favourite todo apps, and plan your day in seconds. The more you use Trevor the better he becomes with organizing your todos, as well as <span class="dark-red">automatically</span> scheduling and rescheduling your tasks for you.</p>
				<% end %>
			</div>
			<% end %>
			<div class="col-sm-6">
				<% if false %>
				<iframe src="https://popapp.in/w/projects/568adcc294b228257b559f6d/embedded" width="475" height="1007" frameborder="0" allowTransparency="true"></iframe>
				<% end %>
				<iframe width="540" height="961" src="https://www.youtube.com/embed/NwFphWk3w7g?autoplay=1&controls=0&showinfo=0&loop=1&playlist=NwFphWk3w7g" frameborder="0" autohide="1"></iframe>
			</div>
			<div class="col-sm-6">
				<h1>Actually, Trevor is an <span class="emphasize-color">intelligent time management assistant</span> designed to help you make the most out of your day.</h1>
				<br/>
				<h2>In 3 simple steps, Trevor will empower you to take control of your day, and write your own path.</h2>
				<h2></h2>
			</div>
		</div>
	</div>
</div>

<div id="core-features" class="container-fluid section background-image">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-6">
				<h1>Everything competing for your time, in one place.</h1>
					<p>Create a system of living, containing everything competing for your time, so you can see a clear picture of your day.</p>
					<ul>
						<li>Scheduled events</li>
						<li>Todos</li>
						<li>Recurring tasks</li>
						<li>Physical needs (food, sleep)</li>
					</ul>
			</div>
			<div class="col-sm-6">
				<%= image_tag("feature1.png", class: "feature-image center-block") %>
			</div>
		</div>
		<div class="row row-mid">
			<div class="col-sm-6">
				<%= image_tag("feature2.png", class: "feature-image center-block") %>
			</div>
			<div class="col-sm-6">
				<h1>Schedule your day <br/>in seconds.</h1>
				<p>Trevor <span class="dark-red">syncs</span> with your calendars, reminders and todos and automatically organizes them in a Smart Inbox.</p>
				<p>All you need to do is <span class="dark-red">drag & drop</span> them in your schedule (calendar). Done.</p>
				<p>Starting your day with purpose goes a long way, and it <span class="dark-red">only takes a minute</span> a day.</p>
				

			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h1>Smart enough<br/>to be your sidekick.</h1>
				<p>Trevor understands natural language. All you need to do is tell him what you need to get done and he'll make sure to add it to your schedule at the right time.</p>
				<p>Trevor is smart enough to know whether you like to read books in the morning, and that grocery shopping after work takes you ~35 minutes. The more you do, the more he personalizes to you, making your schedules better and better.</p>
				<p>Trevor will always keep you up to date with everything you need to get done using personal notifications.</p>

				<% if false %>
				<p>Something urgent comes up? Simply tell Trevor and he will find the best way to reschedule your day for you.</p>
				<p>Tell Trevor whatever feels natural.<br />"<span class="dark-red">I've got a business meeting tomorrow at 8pm</span>" or <br />"<span class="dark-red">I want to watch the new Avengers movie next week</span>"<br/> and he will make sure to add it to your schedule at the best time possible. <br />
				</p>
				<p>Trevor is more than a voice interface - he is a companion. Trevor will personally notify you about everything you need to know so you can follow your goals and track of your progress.</p>
				<p>Natural Language, Machine Learning, Notifications, Progress, Character.</p>
				<% end %>
			</div>
			<div class="col-sm-6">
				<%= image_tag("feature3.png", class: "feature-image center-block") %>
			</div>
		</div>
	</div>
</div>

<% if false %>
<div id="howitworks" class="container-fluid section background-image">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">How it works</h1>
				<h3 class="text-center">and how to <span class="dark-red">get started</span> in 3 easy steps</h3>
				<hr style="border: 1px solid rgba(0,0,0,0.15); margin: 50px 0;" />
			</div>
			<div class="col-sm-4">
				<p>1. <span class="dark-red">Sign Up and Sync</span> tasks from your device and your favourite apps<br />
					<span class="sub-text">(iCal, Reminders, Wunderlist, Evernote, Trello, Jira, etc.)</span><br />
					<br />
					You can also <span class="dark-red">add custom lists</span> and add todo's there, without leaving the app.<br />
					<span class="sub-text">(eg. personal, work, university, startup, project, hobby, etc.)</span>
				</p>
			</div>
			<div class="col-sm-4">
				<p>2. <span class="dark-red">Trevor runs all of those tasks</span> through a rather intelligent algorithm, running thousands of possible combinations to generate the most efficient, prioritized, and balanced schedule for your day.<br />
				<br />
				He does the math, so you don't have to.

				</p>
			</div>
			<div class="col-sm-4">
				<p>3. <span class="dark-red">After your schedule is set and reviewed</span> by you, he will intelligently keep you on track using personalized notifications.<br />
				<br />
				Changes in your schedule? No problem, Trevor will simply rebuild it! 
				</p>
			</div>
		</div>
	</div>
</div>
<% end %>

<div id="outro" class="container-fluid section section-top background-image dark">
	<div class="row">
		
		<div id="download" class="col-sm-12">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="//linkedin.us12.list-manage.com/subscribe/post?u=5418fe1e541a0e43db9c54656&amp;id=e1e62066d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<h1>Request Invite</h1>
				<p>We will send you a download link shortly</p>
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5418fe1e541a0e43db9c54656_e1e62066d1" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Get Trevor" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->
		</div>
	</div>
</div>

<% if false %>
<div id="features" class="container-fluid section background-image dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>A modern, fresh look any day of the calendar</h1>
			<br />
			<p>Trevor's User Interface was designed with simplicity and productivity in mind. Do in seconds and enjoy the rest of your day.</p>
			<hr style="margin: 50px 0" />
		</div>

		<div class="col-sm-4 col-md-4 col-lg-2">
			<%= image_tag("screenshot1", class: "screenshot") %>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-2">
			<%= image_tag("screenshot2", class: "screenshot") %>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-2">
			<%= image_tag("screenshot3", class: "screenshot") %>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
			<%= image_tag("screenshot4", class: "screenshot") %>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
			<%= image_tag("screenshot5", class: "screenshot") %>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
			<%= image_tag("screenshot6", class: "screenshot") %>
		</div>
	</div>
</div>
<% end %>

<div id="cta" class="container-fluid section background-image dark">
	<div class="container">
		<div id="footer">
			<p>Follow us now and win early backer perks and rewards!</p>
			<br />
			<%= link_to "Facebook", "https://www.facebook.com/trevorlabs/", target: "_blank" %> 
			<%= link_to "Twitter", "https://twitter.com/TrevorLabs", target: "_blank" %> 
			<%= link_to "Google+", "https://plus.google.com/105610910219825999607", target: "_blank" %>
			<hr style="border: 1px solid rgba(255,255,255,0.15); margin: 50px 0;" />
			<%= link_to "contact us", "mailto:george@trevorlabs.com" %> 
			<% if false %>
			<%= link_to "terms of use", "#" %> 
			<%= link_to "privacy policy", "#" %> 
			<% end %>
			<br />
			<p>&copy; Trevor Labs ltd. 2016</p>
		</div>
	</div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-1', 'auto');
  ga('send', 'pageview');

</script>