<div id="intro" class="container-fluid section section-top background-image hidden-xs dark">
	<div id="logo-header">
			<%= image_tag("app-icon.png", class: "app-icon") %>
		<div class="app-title-box">
			<h2 class="app-title">T R E V O R</h2>
			<p class="app-subtitle">your personal assistant</p>
		</div>
	</div>
	<div class="row hidden-xs" >
		<div class="col-xs-7">
		</div>
		<div class="col-xs-5">
			<!-- <h1 class="shadow">A new way to control chaos</h1> -->
			<h1 class="shadow">More Productive. <br />Less Effort.</h1>
			<!-- <p class="shadow">Taking our "beloved" TO-DOs to the next level</p> -->
			<p class="shadow">Taking productivity a few years ahead<br />with the power of intelligent machines</p>
			<br />
		</div>
	</div>
</div>

<div id="meettrevor" class="container-fluid section background-image dark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p style="opacity: 0.3;"><span style="margin-left: 2px;">A.I.</span><br /><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br/>Time Management<br />= 
				</p>
			
				<%= image_tag("app-icon.png", class: "app-icon visible-xs center-block") %>
				<h2>Meet Trevor</h2>
				<h3>your personal <span class="emphasize-color">productivity</span> assistant</h3>
				<br />
				<br />
				<br />
				<p>Trevor is constantly learning new ways to make you more productive, so you don't have to!</p>
			</div>
		</div>
	</div>
</div>

<div id="core-features" class="container-fluid section background-image">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-6">
				<h1>A personalized schedule for you</h1>
					<p>Trevor takes your <span class="dark-red">giant pile of Tasks and To-Dos</span> from your favourite apps, and creates a <span class="dark-red">smart, prioritized schedule</span> for your day. Just like Magic!</p>
			</div>
			<div class="col-sm-6">
				<%= image_tag("feature1.png", class: "feature-image center-block") %>
			</div>
		</div>
		<div class="row row-mid">
			<div class="col-sm-6">
				<%= image_tag("feature1.png", class: "feature-image center-block") %>
			</div>
			<div class="col-sm-6">
				<h1>On track with your goals</h1>
				<p>Trevor cares about you and your goals. He will personally notify you about anything you need to know to keep on track. <span class="dark-red">Give your mind a rest and focus on the now</span>.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h1>Communicate in Natural Language</h1>
				<!-- 
				<p>You can communicate back with Trevor using natural language. Tell him things like "I must walk the dog tomorrow morning" or "I want to watch the new Avengers movie next week" and he will make sure to add it to your schedule at the best time possible. You can also ask him stuff like "Show me work-related tasks for november 11th".</p> -->
				<p>Tell Trevor whatever feels natural! <br />"<span class="dark-red">I've got a business meeting tomorrow at 8pm</span>" or <br />"<span class="dark-red">I want to watch the new Avengers movie next week</span>"<br/> and he will make sure to add it to your schedule at the best time possible. <br />
				He can even help you find old tasks, you jast have to ask.</p>
				<p>It really is that simple!</p>
			</div>
			<div class="col-sm-6">
				<%= image_tag("feature1.png", class: "feature-image center-block") %>
			</div>
		</div>
	</div>
</div>

<div id="howitworks" class="container-fluid section background-image">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">How it works</h1>
				<h3 class="text-center">and how to <span class="dark-red">get started</span> in 3 easy steps</h3>
				<hr style="border: 1px solid rgba(0,0,0,0.15); margin: 50px 0;" />
			</div>
			<div class="col-sm-4">
				<p>1. <span class="dark-red">Sign Up and Sync</span> tasks from your device and your favourite apps<br />
					<span class="sub-text">(iCal, Reminders, Wunderlist, Evernote, Trello, Jira, etc.)</span><br />
					<br />
					You can also <span class="dark-red">add custom lists</span> and add todo's there, without leaving the app.<br />
					<span class="sub-text">(eg. personal, work, university, startup, project, hobby, etc.)</span>
				</p>
			</div>
			<div class="col-sm-4">
				<p>2. <span class="dark-red">Trevor runs all of those tasks</span> through a rather intelligent algorithm, running thousands of possible combinations to generate the most efficient, prioritized, and balanced schedule for your day.<br />
				<br />
				He does the math, so you don't have to.

				</p>
			</div>
			<div class="col-sm-4">
				<p>3. <span class="dark-red">After your schedule is set and reviewed</span> by you, he will intelligently keep you on track using personalized notifications.<br />
				<br />
				Changes in your schedule? No problem, Trevor will simply rebuild it! 
				</p>
			</div>

			<!--
				<ol>
					<li>
						<p>Sign up and sync the tasks and todos from your device (iCal, reminders) and your favourite apps (wunderlist, evernote, trello, jira, etc.). All of those tasks are stored in different lists in Trevor. You can also add custom lists for anything you want - personal, work, university, hobbies, startups, etc...</p>
						<p>Sign up (icons), sync (icons), add custom list (plus icon) </p>
					</li>
					<br />
					<li>
						<p>
							Trevor runs all of those tasks through a rather intelligent algorithm, running thousands of possible combinations, and learning from your personal habits, to generate a prioritized, balanced schedule for your day. He assigns todo's time, and instantly makes them actions for you to carry throughout your day. He will make mistakes ocassionally, but you can simply swipe or drag and drop to adjust. You have full control. 
						</p>
						<p>Task lists (icons), through cloud algo with text, to "my daily schedule"</p>
					</li>
					<br />
					<li>
						<p>
							After your schedule is set and you approved it, he will intelligently keep you on track with your schedule using notifications at the right time, in the right place. Changes in your schedule? No problem, Trevor will simply rebuild it!
						</p>
					</li>
				</ol>
				<br />
				<p>
					Just. Like. Magic. All you have to do is add as many tasks as you want, but this time you will be less busy, less stressed, while achieving more!
				</p>
			-->
			
		</div>
	</div>
</div>

<div id="features" class="container-fluid section background-image">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>A modern, fresh look any day of the calendar</h1>
				<br />
				<p>Trevor's User Interface was designed with simplicity and productivity in mind. Do in seconds and enjoy the rest of your day.</p>
				<hr style="margin: 50px 0" />
			</div>

			<div class="col-sm-4 col-md-4 col-lg-2">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-2">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-2">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-2 hidden-xs">
				<%= image_tag("screenshot1", class: "screenshot") %>
			</div>

		</div>

</div>

<div id="cta" class="container-fluid section background-image dark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Download now for iOS, it's free!</h1>
				<p>Trevor is due to release on all major platforms in the following months.</p>
				<p>Subscribe to stay tuned!</p>
				<br />
				<br />
				
				<h2>{Add sections for: mailing list subscription, social links, twitter feed, disquss, blog, testimonials, appstore buttons, the team? }</h2>
				
				<div id="footer">
					<hr style="border: 1px solid rgba(255,255,255,0.15); margin: 50px 0;" />
					<%= link_to "contact us", "#" %> 
					<%= link_to "terms of use", "#" %> 
					<%= link_to "privacy policy", "#" %> 
					<br />
					<p>&copy; Trevor Labs ltd. 2015</p>
				</div>

			</div>
		</div>
	</div>
</div>