<div id="signup" class="container-fluid section dark bluebg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h3>Follow us</h3> -->
				<div class="addthis_horizontal_follow_toolbox"></div>
			</div>

		</div>
		<div class="row">
				<hr style="border: 1px solid rgba(255,255,255,0.3); margin: 50px 0;" />
				<div id="footer" class="">
					<%= link_to "Home", root_path, class: "button", 'data-no-turbolink' => true %> · 
					<%= link_to "Bot", bot_path, class: "button" %> · 
					<%= link_to "App", app_path, class: "button" %> · 
					<%= link_to "FI", fi_path, class: "button", 'data-no-turbolink' => true %> · 
					<%= link_to "Blog", blog_path, class: "button" %> · 
					<%= link_to "Team", team_path, class: "button" %> · 
					<%= link_to "Press", press_path, class: "button" %> · 
					<%= link_to "contact us", "mailto:george@trevorlabs.com", class: "button" %> · 
					<a href="//www.iubenda.com/privacy-policy/7790939" class="iubenda-nostyle no-brand iubenda-embed button" title="Privacy Policy">Privacy Policy</a> · 
					<a href="#" data-toggle="modal" data-target="#TermsAndConditions" class="button">Terms and Conditions</a>
					<% if false %><%= link_to (image_tag("appStore.svg", class: "appStoreButtonFooter", alt: "Download from the App Store")), "https://itunes.apple.com/app/trevor-ai-time-management/id1113523247", target: "_blank" %><% end %>
					<br />
					<p>&copy; Trevor Labs ltd. 2017</p>
				</div>

			</div>

	</div>
</div>

<!-- Share Buttons -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b5ad3805522642" async="async"></script>